{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rm25_SLS.css') }}">

<!-- Make file for this -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('#button-addon2');
        const splitInputFields = document.querySelector('#split-input-fields');

        toggleButton.addEventListener('click', function() {
            if (splitInputFields.style.display === 'none') {
                splitInputFields.style.display = 'block';
            } else {
                splitInputFields.style.display = 'none';
            }
        });
    });
</script>
{% endblock head %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="mb-4">Input values (blank values will use json data)</legend>
                <!--rather meaty input box code-->
                <div class="form-group" >
                    {{ form.submit(class="btn btn-outline-danger") }}
                </div>

                <div class="grid">
                    <div class="g-col-6">
                        <div class="form-group">
                            {{ form.mass_car.label(class="form+control-label") }}
                            <div class="input-group">
                                {{ form.mass_car(class="form-control form-control-sm") }}
                                <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2">Toggle Sweep</button>
                            </div>
                        </div>

                        <div id="split-input-fields" style="display: none;">
                            <div class="form-group">
                              <input type="text" class="form-control form-control-sm" name="mass_front" placeholder="Mass Front">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-sm" name="mass_rear" placeholder="Mass Rear">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-sm" name="mass_total" placeholder="Mass Total">
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.mass_driver.label(class="form+control-label") }}
                            <div class="input-group">
                                {{ form.mass_driver(class="form-control form-control-sm") }}
                                <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                  <li><a class="dropdown-item" href="#">Sweep</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form.proportion_front.label(class="form+control-label") }}
                            {{ form.proportion_front(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.front_track_width.label(class="form+control-label") }}
                            {{ form.front_track_width(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.rear_track_width.label(class="form+control-label") }}
                            {{ form.rear_track_width(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.wheelbase.label(class="form+control-label") }}
                            {{ form.wheelbase(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.CG_height.label(class="form+control-label") }}
                            {{ form.CG_height(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.yaw_inertia.label(class="form+control-label") }}
                            {{ form.yaw_inertia(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.CoF.label(class="form+control-label") }}
                            {{ form.CoF(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.load_sensitivity.label(class="form+control-label") }}
                            {{ form.load_sensitivity(class="form-control form-control-sm") }}
                        </div>
                        <div class="form-group">
                            {{ form.Cd.label(class="form+control-label") }}
                            {{ form.Cd(class="form-control form-control-sm") }}
                        </div>
                    </div>

                    <div class="g-col-6">
                        <div class="form-group">
                            {{ form.Cl.label(class="form+control-label") }}
                            {{ form.Cl(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.A.label(class="form+control-label") }}
                            {{ form.A(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.rho.label(class="form+control-label") }}
                            {{ form.rho(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.front_downforce.label(class="form+control-label") }}
                            {{ form.front_downforce(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.cp_height.label(class="form+control-label") }}
                            {{ form.cp_height(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.brake_bias.label(class="form+control-label") }}
                            {{ form.brake_bias(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.primary_drive.label(class="form+control-label") }}
                            {{ form.primary_drive(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.engine_sprocket_teeth.label(class="form+control-label") }}
                            {{ form.engine_sprocket_teeth(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.diff_sprocket_teeth.label(class="form+control-label") }}
                            {{ form.diff_sprocket_teeth(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.tire_radius.label(class="form+control-label") }}
                            {{ form.tire_radius(class="form-control form-control-sm") }}
                        </div>

                        <div class="form-group">
                            {{ form.gear_ratios.label(class="form+control-label") }}
                            {{ form.gear_ratios(class="form-control form-control-sm") }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}